:root {
  --cream: #ffefe7;
  --pale-pink: #ffd2ce;
  --medium-pink: #fca9ae;
  --dark-pink: #e4626b;
  --black: #140200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  background-image: url("../public/images/wave.svg");
  background-repeat: no-repeat;
  background-size: auto 600px;
  color: var(--black);
}

.container {
  margin: 1em;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 90%;
    margin: 2em auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin: 2em auto;
  }
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--dark-pink);
}

/* ========== TYPOGRAPHY ========== */

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 2.25rem;
}

h4,
a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 2.25rem;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-size: 1.85rem;
}

p {
  font-family: "DM Sans", sans-serif;
}

/* ========== NAVIGATION ========== */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.nav-links {
  display: none;
  align-items: center;
  gap: 1em;
}

.social-links {
  font-size: 1.5rem;
  display: none;
}

@media only screen and (min-width: 768px) {
  nav {
    margin: 1em 4em;
  }
  .social-links {
    display: flex;
    gap: 1em;
  }
}

@media only screen and (min-width: 992px) {
  .nav-links {
    display: flex;
  }

  .links {
    display: flex;
    gap: 10em;
  }
}

/* ========== HEADER ========== */

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.header-img {
  order: -1;
}

.header-emphasis {
  font-family: "DM Serif Display", serif;
  font-style: italic;
   width: 90%;
  font-size: 1.125rem;
  margin-top: 1em;
}

.header-copy {
  margin: 1em 0;
  width: 90%;
  font-size: 1.125rem;
}

.header-btn {
  color: white;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 1.125rem;
  background-color: var(--dark-pink);
  border: none;
  padding: 0.75em 2.5em;
  cursor: pointer;
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--medium-pink);
  color: var(--black);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 600px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 0;
    justify-items: center;
    align-items: center;
  }

  .header-copy, .header-emphasis {
    width: 85%;
  }
  .header-section {
    order: -1;
  }
}

/* ========== FOOTER ========== */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  color: white;
  padding: 0.5em 1em;
}

.footer-social-links a {
  color: white;
  font-size: 1.5rem;
  margin-left: 1em;
}

.footer-social-links a:hover,
a:focus {
  color: var(--pale-pink);
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 0.5em 4em;
  }
}

/* ========== SKILLS ========== */

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
  margin: 2em 0;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  font-size: 4rem;
  color: var(--dark-pink);
}

.skill p {
  font-size: 1.25rem;
  margin-top: 1em;
  font-family: oswald;
}

@media only screen and (min-width: 768px) {
  .skill-icon {
    font-size: 5rem;
  }
  .skill p {
    font-size: 1.87rem;
  }
}

/* ========== PROJECTS ========== */
.projects-title {
  text-align: center;
  margin: 1em;
}

.project-card {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1em;
  margin-bottom: 10em;
 
}

.project-details {
 display: flex;
 flex-direction: column;
margin-bottom: 2em;
}

.project-tech {
  display: flex;
  gap: 1em;
}

.project-tech p {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border: 1px solid var(--medium-pink);
  padding: 0.75em 2em;
}

.project-links {
  margin-top: 2em;
  display: flex;
  gap: 1em;
}

.project-links a {
  padding: 0.75em 2em;
  background-color: var(--dark-pink);
  color: white;
}
.project-links a:hover {
  color: var(--black);
  background-color: var(--medium-pink);
   -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.project-img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-img {
    position:absolute;
  width: 300px;
  height: 300px;
  border: 10px solid white;
  z-index: 1;
  margin-bottom: 1em;
}

.project-img-background {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: -1;
  transform: rotate(7deg);
  transform-origin: bottom left;
}

.mid {
  background-color: var(--medium-pink);
}
.dark {
  background-color: var(--dark-pink);
}
.pale {
  background-color: var(--pale-pink);
}

