:root {
  --cream: #ffefe7;
  --pale-pink: #ffd2ce;
  --medium-pink: #fca9ae;
  --dark-pink: #e4626b;
  --black: #140200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  background-image: url("../public/images/wave.svg");
  background-repeat: no-repeat;
  background-size: auto 600px;
  color: var(--black);
}

.container {
    margin: 1em;
}

@media only screen and (min-width: 600px) {
    .container {
    width: 90%;
    margin: 2em auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin: 2em auto;
  }
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--dark-pink);
}

/* ========== TYPOGRAPHY ========== */

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 2.25rem;
}

h2,
a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "DM Sans", sans-serif;
}

/* ========== NAVIGATION ========== */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.nav-links {
  display: none;
  align-items: center;
  gap: 1em;
}

.social-links {
  font-size: 1.5rem;
  display: none;
}

@media only screen and (min-width: 768px) {
    nav {
        margin: 1em 4em;
    }
  .social-links {
    display: flex;
    gap: 1em;
  }
 
}

@media only screen and (min-width: 992px) {

 .nav-links {
      display: flex;
  }


  .links {
    display: flex;
    gap: 10em;
  }
}

/* ========== HEADER ========== */

header {
 display: flex;
 flex-direction: column;
 gap: 1em;
 justify-content: center;
}

.header-img {
    order: -1;
}

.header-title span {
    display: block;
}

.header-copy {
    margin: 1em 0;
    width: 90%;
    font-size: 1.125rem;
}

.header-btn {
    color: white;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 1.125rem;
    background-color: var(--dark-pink);
    border: none;
    padding: 0.75em 2.5em;
}


@media only screen and (min-width: 600px) {
    header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em 0;
  justify-items: center;
  align-items: center;
}

.header-copy {
    width: 85%;
}
.header-section {
    order: -1;
}
}
/* ========== SKILLS ========== */

.skills {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    margin: 2em 0;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-icon {
    font-size: 5rem;
    color: var(--dark-pink);
}

.skill p {
    font-size: 1.87rem;
    margin-top: 1em;
    font-family: oswald;
}
